<!-- templates/videos.html -->

{% extends "base.html" %}

{% block content %}
<div class="container-fluid mt-5">
   <div class="row mt-5">
    <div class="col text-center">
        <h1>Videos Streaming Example</h1>
    </div>
</div>

    <div class="row">
        <div class="col text-center">
   <video class="img-fluid" controls width="640" height="360">
        <source src="{{ url_for('main.video_stream', videoID = videoID) }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
            </div>
    </div>
</div>
{% endblock %}

